---
// import CallToAction from './CallToAction.astro' 
const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - ScoutingDeportivo.com por <a href="https://jesusbotello.com">Jesús Botello</a>. Hecho con ❤️ por <a
          href="https://coltrane.eth.limo">Coltrane.eth</a
        >.
      </p>
    </div>
  </section>
</footer>
